#### Importing Libraries

In [26]:
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#### Reading Data

In [63]:
Abuja = pd.read_csv("Abuja_Branch.csv")
Lagos = pd.read_csv("Lagos_Branch.csv")
Port_Harcourt = pd.read_csv("Port_Harcourt_Branch.csv")

In [64]:
Lagos.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
335,886-18-2897,A,Lagos,Normal,Female,Food and beverages,20361.6,5,5090.40,106898.40,3/22/2019,19:06,Card,101808.0,4.761905,5090.40,4.5
336,745-74-0715,A,Lagos,Normal,Male,Electronic accessories,20890.8,2,2089.08,43870.68,3/10/2019,20:46,Epay,41781.6,4.761905,2089.08,8.8
337,727-02-1313,A,Lagos,Member,Male,Food and beverages,11462.4,1,573.12,12035.52,2/9/2019,13:22,Cash,11462.4,4.761905,573.12,7.7
338,347-56-2442,A,Lagos,Normal,Male,Home and lifestyle,23695.2,1,1184.76,24879.96,2/22/2019,15:33,Cash,23695.2,4.761905,1184.76,4.1
339,849-09-3807,A,Lagos,Member,Female,Fashion accessories,31802.4,7,11130.84,233747.64,2/18/2019,13:28,Cash,222616.8,4.761905,11130.84,6.6

In [20]:
Port_Harcourt.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [65]:
new = pd.concat([Abuja, Lagos, Port_Harcourt])

In [69]:
Supermaket = new.to_csv('Supermarket.csv')

In [72]:
Supermarket = pd.read_csv('Supermarket.csv')
Supermarket

,Unnamed: 0,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,0,692-92-5582,B,Abuja,Member,Female,Food and beverages,19742.4,3,2961.36,62188.56,2/20/2019,13:27,Card,59227.2,4.761905,2961.36,5.9
1,1,351-62-0822,B,Abuja,Member,Female,Fashion accessories,5212.8,4,1042.56,21893.76,2/6/2019,18:07,Epay,20851.2,4.761905,1042.56,4.5
2,2,529-56-3974,B,Abuja,Member,Male,Electronic accessories,9183.6,4,1836.72,38571.12,3/9/2019,17:03,Cash,36734.4,4.761905,1836.72,6.8
3,3,299-46-1805,B,Abuja,Member,Female,Sports and travel,33739.2,6,10121.76,212556.96,1/15/2019,16:19,Cash,202435.2,4.761905,10121.76,4.5
4,4,319-50-3348,B,Abuja,Normal,Female,Home and lifestyle,14508.0,2,1450.80,30466.80,3/11/2019,15:30,Epay,29016.0,4.761905,1450.80,4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,323,148-41-7930,C,Port Harcourt,Normal,Male,Health and beauty,35985.6,7,12594.96,264494.16,1/23/2019,10:33,Cash,251899.2,4.761905,12594.96,6.1
996,324,189-40-5216,C,Port Harcourt,Normal,Male,Electronic accessories,34693.2,7,12142.62,254995.02,1/9/2019,11:40,Cash,242852.4,4.761905,12142.62,6.0
997,325,267-62-7380,C,Port Harcourt,Member,Male,Electronic accessories,29642.4,10,14821.20,311245.20,3/29/2019,19:12,Epay,296424.0,4.761905,14821.20,4.3
998,326,652-49-6720,C,Port Harcourt,Member,Female,Electronic accessories,21942.0,1,1097.10,23039.10,2/18/2019,11:40,Epay,21942.0,4.761905,1097.10,5.9
999,327,233-67-5758,C,Port Harcourt,Normal,Male,Health and beauty,14526.0,1,726.30,15252.30,1/29/2019,13:46,Epay,14526.0,4.761905,726.30,6.2

In [84]:
Supermarket.drop('Unnamed: 0', axis = 1, )

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,692-92-5582,B,Abuja,Member,Female,Food and beverages,19742.4,3,2961.36,62188.56,2/20/2019,13:27,Card,59227.2,4.761905,2961.36,5.9
1,351-62-0822,B,Abuja,Member,Female,Fashion accessories,5212.8,4,1042.56,21893.76,2/6/2019,18:07,Epay,20851.2,4.761905,1042.56,4.5
2,529-56-3974,B,Abuja,Member,Male,Electronic accessories,9183.6,4,1836.72,38571.12,3/9/2019,17:03,Cash,36734.4,4.761905,1836.72,6.8
3,299-46-1805,B,Abuja,Member,Female,Sports and travel,33739.2,6,10121.76,212556.96,1/15/2019,16:19,Cash,202435.2,4.761905,10121.76,4.5
4,319-50-3348,B,Abuja,Normal,Female,Home and lifestyle,14508.0,2,1450.80,30466.80,3/11/2019,15:30,Epay,29016.0,4.761905,1450.80,4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,148-41-7930,C,Port Harcourt,Normal,Male,Health and beauty,35985.6,7,12594.96,264494.16,1/23/2019,10:33,Cash,251899.2,4.761905,12594.96,6.1
996,189-40-5216,C,Port Harcourt,Normal,Male,Electronic accessories,34693.2,7,12142.62,254995.02,1/9/2019,11:40,Cash,242852.4,4.761905,12142.62,6.0
997,267-62-7380,C,Port Harcourt,Member,Male,Electronic accessories,29642.4,10,14821.20,311245.20,3/29/2019,19:12,Epay,296424.0,4.761905,14821.20,4.3
998,652-49-6720,C,Port Harcourt,Member,Female,Electronic accessories,21942.0,1,1097.10,23039.10,2/18/2019,11:40,Epay,21942.0,4.761905,1097.10,5.9
999,233-67-5758,C,Port Harcourt,Normal,Male,Health and beauty,14526.0,1,726.30,15252.30,1/29/2019,13:46,Epay,14526.0,4.761905,726.30,6.2

In [83]:
Supermarket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               1000 non-null   int64
 1   Invoice ID               1000 non-null   object
 2   Branch                   1000 non-null   object
 3   City                     1000 non-null   object
 4   Customer type            1000 non-null   object
 5   Gender                   1000 non-null   object
 6   Product line             1000 non-null   object
 7   Unit price               1000 non-null   float64
 8   Quantity                 1000 non-null   int64
 9   Tax 5%                   1000 non-null   float64
 10  Total                    1000 non-null   float64
 11  Date                     1000 non-null   object
 12  Time                     1000 non-null   object
 13  Payment                  1000 non-null   object
 14  cogs                     1000 non-null   float64
 15  gross margin percentage  1000 non-null   float64
 16  gross income             1000 non-null   float64
 17  Rating                   1000 non-null   float64
dtypes: float64(7), int64(2), object(9)
memory usage: 105.5+ KB

In [86]:
Supermarket.head(10)

,Unnamed: 0,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,0,692-92-5582,B,Abuja,Member,Female,Food and beverages,19742.4,3,2961.36,62188.56,2/20/2019,13:27,Card,59227.2,4.761905,2961.36,5.9
1,1,351-62-0822,B,Abuja,Member,Female,Fashion accessories,5212.8,4,1042.56,21893.76,2/6/2019,18:07,Epay,20851.2,4.761905,1042.56,4.5
2,2,529-56-3974,B,Abuja,Member,Male,Electronic accessories,9183.6,4,1836.72,38571.12,3/9/2019,17:03,Cash,36734.4,4.761905,1836.72,6.8
3,3,299-46-1805,B,Abuja,Member,Female,Sports and travel,33739.2,6,10121.76,212556.96,1/15/2019,16:19,Cash,202435.2,4.761905,10121.76,4.5
4,4,319-50-3348,B,Abuja,Normal,Female,Home and lifestyle,14508.0,2,1450.80,30466.80,3/11/2019,15:30,Epay,29016.0,4.761905,1450.80,4.4
5,5,371-85-5789,B,Abuja,Normal,Male,Health and beauty,31672.8,3,4750.92,99769.32,3/5/2019,10:40,Epay,95018.4,4.761905,4750.92,5.1
6,6,273-16-6619,B,Abuja,Normal,Male,Home and lifestyle,11952.0,2,1195.20,25099.20,3/15/2019,12:20,Card,23904.0,4.761905,1195.20,4.4
7,7,649-29-6775,B,Abuja,Normal,Male,Fashion accessories,12067.2,1,603.36,12670.56,2/8/2019,15:31,Cash,12067.2,4.761905,603.36,6.7
8,8,145-94-9061,B,Abuja,Normal,Female,Food and beverages,31809.6,5,7952.40,167000.40,1/25/2019,19:48,Cash,159048.0,4.761905,7952.40,9.6
9,9,871-79-8483,B,Abuja,Normal,Male,Fashion accessories,33886.8,5,8471.70,177905.70,2/25/2019,19:39,Card,169434.0,4.761905,8471.70,4.8

In [87]:
Supermarket.shape

(1000, 18)

In [88]:
Supermarket.columns

Index(['Unnamed: 0', 'Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [89]:
Supermarket.describe

<bound method NDFrame.describe of      Unnamed: 0   Invoice ID Branch           City Customer type  Gender  \
0             0  692-92-5582      B          Abuja        Member  Female
1             1  351-62-0822      B          Abuja        Member  Female
2             2  529-56-3974      B          Abuja        Member    Male
3             3  299-46-1805      B          Abuja        Member  Female
4             4  319-50-3348      B          Abuja        Normal  Female
..          ...          ...    ...            ...           ...     ...
995         323  148-41-7930      C  Port Harcourt        Normal    Male
996         324  189-40-5216      C  Port Harcourt        Normal    Male
997         325  267-62-7380      C  Port Harcourt        Member    Male
998         326  652-49-6720      C  Port Harcourt        Member  Female
999         327  233-67-5758      C  Port Harcourt        Normal    Male

               Product line  Unit price  Quantity    Tax 5%      Total  \
0        Food and beverages     19742.4         3   2961.36   62188.56
1       Fashion accessories      5212.8         4   1042.56   21893.76
2    Electronic accessories      9183.6         4   1836.72   38571.12
3         Sports and travel     33739.2         6  10121.76  212556.96
4        Home and lifestyle     14508.0         2   1450.80   30466.80
..                      ...         ...       ...       ...        ...
995       Health and beauty     35985.6         7  12594.96  264494.16
996  Electronic accessories     34693.2         7  12142.62  254995.02
997  Electronic accessories     29642.4        10  14821.20  311245.20
998  Electronic accessories     21942.0         1   1097.10   23039.10
999       Health and beauty     14526.0         1    726.30   15252.30

          Date   Time Payment      cogs  gross margin percentage  \
0    2/20/2019  13:27    Card   59227.2                 4.761905
1     2/6/2019  18:07    Epay   20851.2                 4.761905
2     3/9/2019  17:03    Cash   36734.4                 4.761905
3    1/15/2019  16:19    Cash  202435.2                 4.761905
4    3/11/2019  15:30    Epay   29016.0                 4.761905
..         ...    ...     ...       ...                      ...
995  1/23/2019  10:33    Cash  251899.2                 4.761905
996   1/9/2019  11:40    Cash  242852.4                 4.761905
997  3/29/2019  19:12    Epay  296424.0                 4.761905
998  2/18/2019  11:40    Epay   21942.0                 4.761905
999  1/29/2019  13:46    Epay   14526.0                 4.761905

     gross income  Rating
0         2961.36     5.9
1         1042.56     4.5
2         1836.72     6.8
3        10121.76     4.5
4         1450.80     4.4
..            ...     ...
995      12594.96     6.1
996      12142.62     6.0
997      14821.20     4.3
998       1097.10     5.9
999        726.30     6.2

[1000 rows x 18 columns]>